In [240]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [161]:
df = pd.read_csv("student-mat.csv")

In [162]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [163]:
df.shape

(395, 33)

In [164]:
#df.isna().sum()

In [165]:
#df.nunique()

In [166]:
#df.describe()

h0 il y a des corrélations

In [167]:
#df.info()

In [168]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### école et note final

Est-ce que l'école influe sur la note finale ?

In [169]:
df["school"].unique()

array(['GP', 'MS'], dtype=object)

In [170]:
dico_nb_person_from_school = {school: len(df[df["school"] == school]) for school in df["school"].unique()}
dico_nb_person_from_school

{'GP': 349, 'MS': 46}

Nous remarquons une asymétrie au niveau des écoles.

1) Moyenne de G3 en fonction de l'école.

2) Moyenne des 3 notes en fonction de l'école.

In [171]:
def recuperate_labels_from_one_label(data, label, sublabel):
    return data[data[label] == sublabel]["G3"].mean()

In [172]:
schools = {school: recuperate_labels_from_one_label(df, "school", school) for school in df["school"].unique()}
schools

{'GP': 10.489971346704872, 'MS': 9.847826086956522}

Il semble qu'il n'y ai pas de grande différence entre l'école 1 et 2 pour la note finale.

L'école à t-elle donc un lien avec notre étude ?

In [173]:
def recuperate_labels_from_multipl_label(data, label, sublabel):
    g1 = data[data[label] == sublabel]["G1"].mean()
    g2 = data[data[label] == sublabel]["G2"].mean()
    g3 = data[data[label] == sublabel]["G3"].mean()
    return (g1 + g2 + g3) / 3

In [174]:
schools = {school: recuperate_labels_from_multipl_label(df, "school", school) for school in df["school"].unique()}
schools

{'GP': 10.737344794651385, 'MS': 10.23913043478261}

Il semble qu'il n'y ai aucunes différences entre l'école 1 et 2 sur l'ensemble des notes.

L'école à t-elle donc un lien avec notre étude ?

Par le nombre de donnée de chaques écoles, et par la moyenne des notes mais aussi par la note finale. 

Nous ne conservons pas la variable "school".

In [175]:
del df["school"]

In [176]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
3,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
4,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

### Sexe et note final

In [177]:
sexe_label = ["M", "F"]

In [178]:
dico = {label: len(df[df["sex"] == label]) for label in sexe_label}
dico

{'M': 187, 'F': 208}

Nous pouvons voir que la répartition sur notre échantillon est uniformément réparti.

In [179]:
dico = {label: recuperate_labels_from_one_label(df, "sex", label) for label in sexe_label}
dico

{'M': 10.914438502673796, 'F': 9.966346153846153}

Il semble qu'il n'y ai pas de différence significative sur la note final en fonction du sexe.

Hypothèse: nous pouvons supprimer la variable catégorielle sexe.

In [180]:
dico = {label: recuperate_labels_from_multipl_label(df, "sex", label) for label in sexe_label}
dico

{'M': 11.073083778966131, 'F': 10.325320512820513}

Il semble qu'il n'y ai pas de différence significative sur la note final en fonction du sexe.

Hypothèse: nous pouvons supprimer la variable catégorielle sexe.

## Age et note finale

In [181]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
3,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
4,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

In [182]:
age_label = sorted(df["age"].unique())
age_label

[15, 16, 17, 18, 19, 20, 21, 22]

Nous pouvons voir que l'étendue est de: 8 et que la moyenne d'age est de 18.5. Notre échantillon est dans l'interval fermé [15; 22]

In [183]:
nombre_age = {age: len(df[df["age"] == age]) for age in age_label}
nombre_age

{15: 82, 16: 104, 17: 98, 18: 82, 19: 24, 20: 3, 21: 1, 22: 1}

In [184]:
# Diagramme à moustage

In [185]:
mean_person_age = sum(v for k, v in nombre_age.items()) / len(nombre_age)
mean_person_age

49.375

Il semble que nous avons des données continues peu représentatives dans notre échantillon.

Les ages: 19, 20 21 et 22 ne sont pas etre pris en compte car ils ne sont représentatifs

Hypothèse 0: a note finale, ou l'ensemble des 3 notes sont influencées par l'age.

In [186]:
dico = {label: recuperate_labels_from_one_label(df, "age", label) for label in age_label}
dico = dict(sorted(dico.items(), key=lambda item: item[1]))
[print("age :", k, " -> ", round(v, 2), "  nombre échantillon:", nombre_age[k]) for k, v in dico.items()]

age : 21  ->  7.0   nombre échantillon: 1
age : 22  ->  8.0   nombre échantillon: 1
age : 19  ->  8.21   nombre échantillon: 24
age : 18  ->  9.55   nombre échantillon: 82
age : 17  ->  10.28   nombre échantillon: 98
age : 16  ->  11.03   nombre échantillon: 104
age : 15  ->  11.26   nombre échantillon: 82
age : 20  ->  14.0   nombre échantillon: 3

[None, None, None, None, None, None, None, None]

Dans nos échantillons de la tranche d'age: [15;18] l'age n'influence pas la note finale.

In [187]:
dico = {label: recuperate_labels_from_multipl_label(df, "age", label) for label in age_label}
[print("age :", k, " -> ", round(v, 2), "  nombre échantillon:", nombre_age[k]) for k, v in dico.items()]

age : 15  ->  11.28   nombre échantillon: 82
age : 16  ->  11.05   nombre échantillon: 104
age : 17  ->  10.55   nombre échantillon: 98
age : 18  ->  10.13   nombre échantillon: 82
age : 19  ->  9.24   nombre échantillon: 24
age : 20  ->  13.78   nombre échantillon: 3
age : 21  ->  8.33   nombre échantillon: 1
age : 22  ->  7.33   nombre échantillon: 1

[None, None, None, None, None, None, None, None]

Dans nos échantillons de la tranche d'age: [15;18] l'age n'influence pas la moyenne des 3 notes.

Il semble que l'age n'influence pas la note finale, et qu'il y a des données peu représentatives (en terme d'age) dans notre dataset.

In [190]:
label_to_remove = [20, 21, 22]
for i in label_to_remove:
    df.drop(df.loc[df['age'] == i].index, inplace=True)

### G1, G2 et G3

In [191]:
# moyenne de g1 g2 et g3

In [192]:
# 1 quatile de g3, moyenne et 3 eme

In [193]:
df["G3"].unique()

array([ 6, 10, 15, 11, 19,  9, 12, 14, 16,  5,  8, 17, 18, 13, 20,  7,  0,
        4], dtype=int64)

### Adresse et note finale

In [194]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
3,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
4,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

In [195]:
label_adresse = df["address"].unique()
label_adresse

array(['U', 'R'], dtype=object)

Il semble que nous ayons 2 type d'adresses dans notre dataset.

Hypothèse 0: L'adresse influence t-elle la note finale ?

In [196]:
dico = {address: len(df[df["address"] == address]) for address in label_adresse}
dico

{'U': 303, 'R': 87}

In [197]:
print("Il semble que nous ayons une majorité de personne vivant en urbain de ratio:", dico["U"] / dico["R"], "entre les deux données")

Il semble que nous ayons une majorité de personne vivant en urbain de ratio: 3.4827586206896552 entre les deux données

In [198]:
dico = {label: recuperate_labels_from_one_label(df, "address", label) for label in label_adresse}
dico

{'U': 10.650165016501651, 'R': 9.540229885057471}

In [199]:
dico = {label: recuperate_labels_from_multipl_label(df, "address", label) for label in label_adresse}
dico

{'U': 10.874587458745877, 'R': 9.957854406130268}

On retrouve une certaine asymétrie de donnée. Que nous devons vérifier avec un test d'anova et de chi 2.

### Family size and final note

In [200]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
3,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
4,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

In [201]:
famsize = df["famsize"].unique()
famsize

array(['GT3', 'LE3'], dtype=object)

In [202]:
fam_size = {label: len(df[df["famsize"] == label]) for label in famsize}
fam_size

{'GT3': 277, 'LE3': 113}

Il semble que nous ayons 281 familles > 3. Contre 114 familles <= 3.

Est-ce que le nombre de personne dans une famille influence t-il la note finale ?

In [203]:
dico = {label: recuperate_labels_from_one_label(df, "famsize", label) for label in fam_size}
dico

{'GT3': 10.151624548736462, 'LE3': 11.017699115044248}

In [204]:
dico = {label: recuperate_labels_from_multipl_label(df, "famsize", label) for label in fam_size}
dico

{'GT3': 10.4632972322503, 'LE3': 11.176991150442477}

Il semble qu'il n'y ai pas de correlation entre le nombre de personne dans une famille et la note finale.

Il semble qu'il n'y ai pas de correlation entre le nombre de personne dans une famille et la moyenne des notes.

### Pstatus et la note final

In [215]:
Pstatus = df["Pstatus"].unique()
Pstatus

array(['A', 'T'], dtype=object)

In [216]:
Pstatus_dico = {label: len(df[df["Pstatus"] == label]) for label in Pstatus}
Pstatus

array(['A', 'T'], dtype=object)

Il semble que nous avons une asymétrie entre nos deux variables.

In [217]:
dico = {label: recuperate_labels_from_one_label(df, "Pstatus", label) for label in Pstatus}
print(dico)

{'A': 11.076923076923077, 'T': 10.327635327635328}

In [218]:
dico = {label: recuperate_labels_from_multipl_label(df, "Pstatus", label) for label in Pstatus}
dico

{'A': 11.034188034188034, 'T': 10.629629629629628}

Il semble qu'il n'y est pas de corrélation entre la situation famillialle et la note finale.

In [211]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
3,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
4,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

In [230]:
labels = ['Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
          'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 
          'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc',
          'health', 'absences', 'G1', 'G2', 'G3']

for LABEL in labels:

    print(LABEL)

    label_container = df[LABEL].unique()
    
    print("les variables")
    print(label_container)
    print("")
    
    dico = {label: len(df[df[LABEL] == label]) for label in label_container}
    
    print("Nombre de variable")
    print(dico)
    print("")

    final_note = {label: recuperate_labels_from_one_label(df, LABEL, label) for label in label_container}
    final_note = dict(sorted(final_note.items(), key=lambda item: item[1]))

    print(final_note)

    print("-------------------------------------------------------------------------------------------------")
    print("")

Medu
les variables
[4 1 3 2 0]

Nombre de variable
{4: 130, 1: 58, 3: 97, 2: 102, 0: 3}

{1: 8.706896551724139, 2: 9.735294117647058, 3: 10.24742268041237, 4: 11.738461538461538, 0: 13.0}
-------------------------------------------------------------------------------------------------

Fedu
les variables
[4 1 2 3 0]

Nombre de variable
{4: 96, 1: 80, 2: 112, 3: 100, 0: 2}

{1: 9.2, 2: 10.160714285714286, 3: 10.66, 4: 11.364583333333334, 0: 13.0}
-------------------------------------------------------------------------------------------------

Mjob
les variables
['at_home' 'health' 'other' 'services' 'teacher']

Nombre de variable
{'at_home': 59, 'health': 33, 'other': 140, 'services': 100, 'teacher': 58}

{'at_home': 9.152542372881356, 'other': 9.842857142857143, 'services': 11.0, 'teacher': 11.051724137931034, 'health': 12.06060606060606}
-------------------------------------------------------------------------------------------------

Fjob
les variables
['teacher' 'other' 'services' 'health' 'at_home']

Nombre de variable
{'teacher': 29, 'other': 214, 'services': 109, 'health': 18, 'at_home': 20}

{'other': 10.149532710280374, 'at_home': 10.15, 'services': 10.330275229357799, 'health': 11.61111111111111, 'teacher': 11.96551724137931}
-------------------------------------------------------------------------------------------------

reason
les variables
['course' 'other' 'home' 'reputation']

Nombre de variable
{'course': 141, 'other': 35, 'home': 109, 'reputation': 105}

{'course': 9.75177304964539, 'home': 10.256880733944953, 'reputation': 11.142857142857142, 'other': 11.257142857142858}
-------------------------------------------------------------------------------------------------

guardian
les variables
['mother' 'father' 'other']

Nombre de variable
{'mother': 272, 'father': 90, 'other': 28}

{'other': 8.607142857142858, 'mother': 10.492647058823529, 'father': 10.688888888888888}
-------------------------------------------------------------------------------------------------

traveltime
les variables
[2 1 3 4]

Nombre de variable
{2: 106, 1: 253, 3: 23, 4: 8}

{4: 8.75, 3: 9.26086956521739, 2: 9.858490566037736, 1: 10.786561264822135}
-------------------------------------------------------------------------------------------------

studytime
les variables
[2 3 1 4]

Nombre de variable
{2: 197, 3: 64, 1: 102, 4: 27}

{1: 10.019607843137255, 2: 10.17766497461929, 4: 11.25925925925926, 3: 11.34375}
-------------------------------------------------------------------------------------------------

failures
les variables
[0 3 2 1]

Nombre de variable
{0: 311, 3: 14, 2: 15, 1: 50}

{3: 5.428571428571429, 2: 5.466666666666667, 1: 8.12, 0: 11.231511254019292}
-------------------------------------------------------------------------------------------------

schoolsup
les variables
['yes' 'no']

Nombre de variable
{'yes': 51, 'no': 339}

{'yes': 9.431372549019608, 'no': 10.548672566371682}
-------------------------------------------------------------------------------------------------

famsup
les variables
['no' 'yes']

Nombre de variable
{'no': 150, 'yes': 240}

{'yes': 10.258333333333333, 'no': 10.633333333333333}
-------------------------------------------------------------------------------------------------

paid
les variables
['no' 'yes']

Nombre de variable
{'no': 211, 'yes': 179}

{'no': 9.971563981042655, 'yes': 10.910614525139664}
-------------------------------------------------------------------------------------------------

activities
les variables
['no' 'yes']

Nombre de variable
{'no': 190, 'yes': 200}

{'no': 10.352631578947369, 'yes': 10.45}
-------------------------------------------------------------------------------------------------

nursery
les variables
['yes' 'no']

Nombre de variable
{'yes': 312, 'no': 78}

{'no': 9.948717948717949, 'yes': 10.51602564102564}
-------------------------------------------------------------------------------------------------

higher
les variables
['yes' 'no']

Nombre de variable
{'yes': 371, 'no': 19}

{'no': 6.7368421052631575, 'yes': 10.590296495956874}
-------------------------------------------------------------------------------------------------

internet
les variables
['no' 'yes']

Nombre de variable
{'no': 63, 'yes': 327}

{'no': 9.317460317460318, 'yes': 10.611620795107033}
-------------------------------------------------------------------------------------------------

romantic
les variables
['no' 'yes']

Nombre de variable
{'no': 260, 'yes': 130}

{'yes': 9.546153846153846, 'no': 10.830769230769231}
-------------------------------------------------------------------------------------------------

famrel
les variables
[4 5 3 1 2]

Nombre de variable
{4: 195, 5: 101, 3: 68, 1: 8, 2: 18}

{2: 9.88888888888889, 3: 10.044117647058824, 4: 10.35897435897436, 1: 10.625, 5: 10.801980198019802}
-------------------------------------------------------------------------------------------------

freetime
les variables
[3 2 4 1 5]

Nombre de variable
{3: 157, 2: 64, 4: 113, 1: 19, 5: 37}

{3: 9.78343949044586, 1: 9.842105263157896, 4: 10.4070796460177, 5: 11.297297297297296, 2: 11.5625}
-------------------------------------------------------------------------------------------------

goout
les variables
[4 3 2 1 5]

Nombre de variable
{4: 85, 3: 127, 2: 103, 1: 23, 5: 52}

{5: 9.057692307692308, 4: 9.658823529411764, 1: 9.869565217391305, 3: 10.905511811023622, 2: 11.194174757281553}
-------------------------------------------------------------------------------------------------

Dalc
les variables
[1 2 5 3 4]

Nombre de variable
{1: 274, 2: 75, 5: 8, 3: 25, 4: 8}

{2: 9.253333333333334, 4: 10.0, 3: 10.64, 1: 10.68978102189781, 5: 11.0}
-------------------------------------------------------------------------------------------------

Walc
les variables
[1 3 2 4 5]

Nombre de variable
{1: 149, 3: 79, 2: 85, 4: 51, 5: 26}

{4: 9.686274509803921, 2: 10.08235294117647, 5: 10.26923076923077, 1: 10.657718120805368, 3: 10.772151898734178}
-------------------------------------------------------------------------------------------------

health
les variables
[3 5 1 2 4]

Nombre de variable
{3: 89, 5: 145, 1: 46, 2: 45, 4: 65}

{3: 9.98876404494382, 4: 10.123076923076923, 2: 10.222222222222221, 5: 10.344827586206897, 1: 11.956521739130435}
-------------------------------------------------------------------------------------------------

absences
les variables
[ 6  4 10  2  0 16 14  7  8 25 12 54 18 26 20 56 24 28  5 13 15 22  3 21
  1 75 30 19  9 11 38 40 23 17]

Nombre de variable
{6: 31, 4: 52, 10: 17, 2: 65, 0: 114, 16: 6, 14: 12, 7: 7, 8: 22, 25: 1, 12: 12, 54: 1, 18: 5, 26: 1, 20: 4, 56: 1, 24: 1, 28: 1, 5: 5, 13: 3, 15: 3, 22: 3, 3: 7, 21: 1, 1: 3, 75: 1, 30: 1, 19: 1, 9: 3, 11: 2, 38: 1, 40: 1, 23: 1, 17: 1}

{26: 6.0, 56: 8.0, 22: 8.0, 30: 8.0, 38: 8.0, 15: 8.333333333333334, 0: 8.359649122807017, 18: 8.4, 28: 9.0, 75: 9.0, 14: 9.333333333333334, 19: 10.0, 17: 10.0, 16: 10.166666666666666, 8: 10.590909090909092, 12: 10.75, 25: 11.0, 54: 11.0, 40: 11.0, 4: 11.211538461538462, 10: 11.235294117647058, 20: 11.5, 5: 11.6, 6: 11.774193548387096, 7: 11.857142857142858, 2: 11.907692307692308, 3: 12.142857142857142, 13: 12.666666666666666, 1: 13.0, 11: 13.0, 23: 13.0, 9: 13.333333333333334, 24: 18.0, 21: 18.0}
-------------------------------------------------------------------------------------------------

G1
les variables
[ 5  7 15  6 12 16 14 10 13  8 11  9 17 19 18  4  3]

Nombre de variable
{5: 7, 7: 37, 15: 23, 6: 23, 12: 35, 16: 22, 14: 30, 10: 50, 13: 33, 8: 41, 11: 39, 9: 30, 17: 7, 19: 3, 18: 8, 4: 1, 3: 1}

{4: 0.0, 6: 4.043478260869565, 5: 4.428571428571429, 3: 5.0, 7: 5.594594594594595, 9: 8.033333333333333, 8: 8.121951219512194, 10: 9.3, 11: 10.743589743589743, 12: 11.971428571428572, 13: 12.757575757575758, 14: 13.8, 15: 14.652173913043478, 16: 16.045454545454547, 17: 16.714285714285715, 18: 18.125, 19: 19.0}
-------------------------------------------------------------------------------------------------

G2
les variables
[ 6  5  8 14 10 15 12 18 16 13  9 11  7 19 17  4  0]

Nombre de variable
{6: 14, 5: 15, 8: 30, 14: 22, 10: 46, 15: 34, 12: 41, 18: 11, 16: 13, 13: 37, 9: 49, 11: 35, 7: 21, 19: 3, 17: 5, 4: 1, 0: 13}

{4: 0.0, 0: 0.0, 5: 3.2666666666666666, 6: 4.785714285714286, 7: 5.904761904761905, 8: 7.433333333333334, 9: 8.204081632653061, 10: 9.782608695652174, 11: 10.942857142857143, 12: 11.926829268292684, 13: 13.108108108108109, 14: 14.090909090909092, 15: 15.294117647058824, 16: 16.076923076923077, 17: 17.4, 18: 18.272727272727273, 19: 19.333333333333332}
-------------------------------------------------------------------------------------------------

G3
les variables
[ 6 10 15 11 19  9 12 14 16  5  8 17 18 13 20  7  0  4]

Nombre de variable
{6: 15, 10: 56, 15: 32, 11: 47, 19: 5, 9: 27, 12: 31, 14: 27, 16: 16, 5: 7, 8: 31, 17: 6, 18: 11, 13: 31, 20: 1, 7: 8, 0: 38, 4: 1}

{0: 0.0, 4: 4.0, 5: 5.0, 6: 6.0, 7: 7.0, 8: 8.0, 9: 9.0, 10: 10.0, 11: 11.0, 12: 12.0, 13: 13.0, 14: 14.0, 15: 15.0, 16: 16.0, 17: 17.0, 18: 18.0, 19: 19.0, 20: 20.0}
-------------------------------------------------------------------------------------------------

In [242]:
# Supprimer les données non représentative

In [ ]:
# S'assurer avec un test d'Anova.

In [ ]:
# supprimer des données en fonction des moyennes.

In [ ]:
# mettre des graphes.

In [239]:
df = pd.get_dummies(df, drop_first=False)

In [237]:
# Normaliser les data avec:
    # soit: normalized_df=(df-df.mean())/df.std()
    # soit: normalized_df=(df-df.min())/(df.max()-df.min())

In [ ]:
# Essayer un grid search 
    # knn = [ k: {1, 3, 5, 7} ]
    #random forest = [ deepth: {5, 10, 15, 20, 25, 30, 100}]

In [ ]:
# Cross validation k-fold -> évite le suraprentissage

In [232]:
# regression linéaire
    # ridge -> évite le suraprentissage
    # lasso -> évite le suraprentissage
    # elastic net -> combo de ridge + lasso

In [233]:
# Knn -> parfait pour les petites données à cause de la sauvegarde des data en mémoire, sensible au over data

In [234]:
# Svr -> généralise bien avec peu de donnée / baisse de perf avec beaucoup de perf (one vs all très long)

In [235]:
#random forest
    # bagging -> plusieurs entité d'un meme model (model faible) qui forme un gros model ou p >= 51%
        # bootstraping: entrainement sur jeu aléatoire de donnée puis replacement...
    # boosting -> sequentielle, les modèles apprenent de l'ancien
        # adaboost -> plusieurs arbre de decision qui forme une foret
    # stacking -> un dernier modele qui dit qui a tord qui a faux.
    # xgboost -> avec arbre. Merci framework.